{
    "presets": ["@babel/preset-react"],
    "plugins": ["transform-class-properties", "istanbul"]
  }

// {
//     "presets": ["next/babel"],
//     "env": {
//         "development": {
//             "plugins": ["@emotion"]
//         },
//         "e2e": {
//             "plugins": ["@emotion", "istanbul"]
//         }
//     }
// }