*{
  font-size: 16px;
}
.details-container{
  display: block;
  margin: 150px auto;
  text-align: center;
  /* overflow: scroll; */
}

.details-container img{
  margin: 0px auto;
  height: 20em;
  width: 20em;
  border-radius: 50%;
}

.details-container-left{
  display: block;
}

.details-container-right{
  display: block;
  margin: 20px auto;
  width: 10px;
  border: 1px solid black;
}

 #profile-details{
  display: block;
  margin: 50px auto;
  width: 80%;
  /* border: 1px solid black; */
  border-radius: 2em;
  padding: 40px;
  background: #e1e3e6;
} 

#profile-details h3 {
  width: 80%;
  margin: 0px auto 2em;
  text-align: left;
  display: inline-block;
  font-size: 2em;
}

#profile-details button {
  width: 20%;
  font-size: 1.1em;
  /* text-align: right; */
  display: inline-block;
  background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
  border-radius: 10px;
  padding: 0.5em;
  color: white;
}

#profile-details button:hover {
  background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
  color:teal;
}

#profile-details li {
  text-align: left;
  display: block;
  padding: 10px 30px;
  font-size: 1.2em;
}

#profile-details span {
  text-align:right;
  display: inline-block;
  font-size: 1.2em;
  vertical-align: left;
}

#edit-password-btn{
  display: none;
  width: 20%;
  font-size: 1.1em;
  background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
  border-radius: 10px;
  padding: 0.5em;
  color: white;
}

#edit-password-btn:hover {
  background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
  color:teal;
}

#edit-pic-btn img{
  height: 3em;
  width: 3em;
  opacity: 0.7;
  background-color: #aadddd;
  border-radius: 70%;
}

#edit-pic-btn img:hover{
  opacity: 1;
}

#edit-details{
  display: block;
  margin: 50px auto;
  width: 80%;
  /* height: auto; */
  /* border: 1px solid black; */
  border-radius: 2em;
  padding: 40px;
  background: #e1e3e6;
} 

#edit-details form{
  display: block;
  margin: 0px auto;
  width: 80%;
  height: 23em;
  padding: 10px;
  background: #e1e3e6;
  /* overflow: auto; */
} 


#edit-details h3 {
  width: 100%;
  margin: 0px auto 2em;
  text-align: left;
  display: inline-block;
  font-size: 2em;
}

#edit-details label {
  text-align: left;
  /* display: block; */
  padding: 10px 30px;
  font-size: 1.2em;
  clear: both;
  float: left;
}

#edit-details input {
  text-align:left;
  float: right;
  /* display: inline-block; */
  font-size: 1.2em;
  margin: 0.5em auto 0.5em 10%;
  padding: 10px 30px;
}

#edit-details button {
  width: 20%;
  font-size: 1.1em;
  display: block;
  background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
  border-radius: 10px;
  padding: 0.5em;
  color: white;
  float: right;
  margin: 2em 0px 0px 100%;
}

#edit-details button:hover {
  background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
  color:teal;
}

#err {
  color: red;
}