.form-img {
    width: 60% !important;
    height: 60% !important;

    position: absolute;
    top: 45% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .overview{
    width: 10%;
    height: 11%;
    position: absolute;
    top: 7%;
    left: 7%;
    transform: translate(-50%, -50%);
  }

  .rectangle{
    margin-top: 8%;
    width: 40% !important;
    height: 40% !important;
    position: absolute;
    top: 70% !important;
    left: 80% !important;
    transform: translate(-50%, -50%);
  }
/* 
  .boxone {
    margin-top: 500px;
  } */