.form-img {
    width: 68%;
    height: 65%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overview{
    width: 10%;
    height: 11%;
    position: absolute;
    top: 7%;
    left: 7%;
    transform: translate(-50%, -50%);
  }

  .rectangle{
    width: 40%;
    height: 40%;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
/* 
  .boxone {
    margin-top: 500px;
  } */