.react-chatbot-kit-chat-container {
  width: 85%;
  position: relative;
}
.react-chatbot-kit-chat-message-container {
  height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 20px;
  color: black;
  width: 50%;
}
.react-chatbot-kit-chat-btn-send-icon {
  margin-left: 40%;
}
